/* 3) */

div:nth-child(1) {
  display: block;
}

.verde {
  background: green;
  width: 100%;
  height: 50px;
  display: none;
}

.azul {
  background: blue;
  width: 100%;
  height: 50px;
  display: none;
}

.cinza {
  background: gray;
  width: 100%;
  height: 50px;
  display: none;
}

/* media queries */

@media (min-width: 780px) {
  div:nth-child(1) {
    display: block;
  }
  div:nth-child(2) {
    display: block;
  }
}

@media (min-width: 1280px) {
  div:nth-child(n) {
    display: block;
  }
}
